<footer>
  <div class="my-bg-dark border-bottom-dark">
    <section class="text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <ul class="nav justify-content-center container">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Início</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Política de Privacidade</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Termos de Uso</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Suporte</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid my-bg-dark">
    <div class="container py-3">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg width="32" viewBox="0 0 54 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.96464 15.3654L6.94081 15.818C6.94081 17.9938 7.63166 19.7408 9.01336 21.0589C10.4586 22.4565 12.4199 23.1553 14.8975 23.1553C17.1527 23.1553 19.249 22.4803 21.1866 21.1304C21.5518 20.8763 21.8774 20.7492 22.1633 20.7492C22.7509 20.7492 23.1956 21.0431 23.4973 21.6307L24.1405 22.9647C24.2835 23.2824 24.3549 23.6238 24.3549 23.9891C24.3549 24.3544 24.1882 24.7355 23.8547 25.1326C23.537 25.5137 23.1162 25.8631 22.5921 26.1807C22.068 26.4984 21.4566 26.7763 20.7578 27.0145C20.0749 27.2527 19.3681 27.4513 18.6376 27.6101C17.1765 27.9277 15.6518 28.0865 14.0637 28.0865C12.4755 28.0865 10.8715 27.7848 9.25158 27.1813C7.64754 26.5778 6.25791 25.6963 5.08267 24.537C2.55751 22.0754 1.29492 18.7482 1.29492 14.5554C1.29492 7.20228 3.88361 2.6284 9.061 0.833781C10.6809 0.277927 12.3405 0 14.0399 0C15.7551 0 17.2082 0.182638 18.3994 0.547913C19.6064 0.913189 20.6466 1.45316 21.5201 2.16783C23.3623 3.67658 24.2835 5.78088 24.2835 8.48075C24.2835 11.133 23.2035 13.1579 21.0436 14.5554C19.1537 15.7783 16.6603 16.3898 13.5634 16.3898C11.6576 16.3898 9.45804 16.0483 6.96464 15.3654ZM18.6852 8.40928C18.6852 6.13822 17.1606 5.00269 14.1113 5.00269C11.205 5.00269 9.17217 6.06675 8.01282 8.19488C7.5999 8.94131 7.32991 9.86244 7.20286 10.9583C8.56867 11.6412 10.3077 11.9826 12.4199 11.9826C16.5968 11.9826 18.6852 10.7915 18.6852 8.40928Z"
                fill="#6C757D" />
              <path
                d="M34.8057 15.3654L34.7819 15.818C34.7819 17.9938 35.4727 19.7408 36.8544 21.0589C38.2996 22.4565 40.261 23.1553 42.7385 23.1553C44.9937 23.1553 47.0901 22.4803 49.0276 21.1304C49.3929 20.8763 49.7185 20.7492 50.0043 20.7492C50.592 20.7492 51.0366 21.0431 51.3384 21.6307L51.9816 22.9647C52.1245 23.2824 52.196 23.6238 52.196 23.9891C52.196 24.3544 52.0292 24.7355 51.6957 25.1326C51.3781 25.5137 50.9572 25.8631 50.4331 26.1807C49.9091 26.4984 49.2976 26.7763 48.5988 27.0145C47.9159 27.2527 47.2092 27.4513 46.4786 27.6101C45.0175 27.9277 43.4929 28.0865 41.9048 28.0865C40.3166 28.0865 38.7126 27.7848 37.0926 27.1813C35.4886 26.5778 34.099 25.6963 32.9237 24.537C30.3986 22.0754 29.136 18.7482 29.136 14.5554C29.136 7.20228 31.7247 2.6284 36.9021 0.833781C38.522 0.277927 40.1816 0 41.8809 0C43.5961 0 45.0493 0.182638 46.2404 0.547913C47.4474 0.913189 48.4877 1.45316 49.3611 2.16783C51.2034 3.67658 52.1245 5.78088 52.1245 8.48075C52.1245 11.133 51.0446 13.1579 48.8847 14.5554C46.9948 15.7783 44.5014 16.3898 41.4045 16.3898C39.4987 16.3898 37.2991 16.0483 34.8057 15.3654ZM46.5263 8.40928C46.5263 6.13822 45.0017 5.00269 41.9524 5.00269C39.0461 5.00269 37.0132 6.06675 35.8539 8.19488C35.441 8.94131 35.171 9.86244 35.0439 10.9583C36.4097 11.6412 38.1488 11.9826 40.261 11.9826C44.4379 11.9826 46.5263 10.7915 46.5263 8.40928Z"
                fill="#6C757D" />
              <path
                d="M0.976755 35.9935C0.547953 36.4382 0.277967 36.7797 0.166796 37.0179C0.0556248 37.2561 3.93773e-05 37.5658 3.93606e-05 37.9469C3.9344e-05 38.3281 0.270026 38.7648 0.809998 39.2572C4.04983 42.0682 8.07581 44.2519 12.8879 45.8083C17.43 47.2694 22.0913 48 26.8716 48C34.193 48 40.9665 46.3006 47.1921 42.902C49.3361 41.7268 51.2736 40.3371 53.0047 38.7331C53.3541 38.3837 53.5288 38.0264 53.5288 37.6611C53.5288 36.9782 53.3065 36.3985 52.8618 35.9221C52.1154 35.1439 51.488 34.7548 50.9798 34.7548C50.4716 34.7548 49.9713 34.9771 49.479 35.4218C45.6039 39.0745 40.0295 41.3138 32.7557 42.1397C30.6594 42.3779 28.5868 42.497 26.5381 42.497C24.4894 42.497 22.4168 42.3461 20.3205 42.0444C18.24 41.7426 16.2389 41.3138 14.3173 40.758C10.3151 39.5669 7.03557 37.947 4.47864 35.8982C3.71632 35.263 3.16841 34.9453 2.8349 34.9453C2.50138 34.9453 2.21552 35.0089 1.97729 35.1359C1.72319 35.263 1.38968 35.5488 0.976755 35.9935Z"
                fill="#6C757D" />
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Ranqueei</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="my-color-light" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.246H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
              </svg></a></li>
          <li class="ms-3"><a class="my-color-light" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path
                  d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
              </svg></a></li>
          <li class="ms-3"><a class="my-color-light" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
              </svg></a></li>
          <li class="ms-3"><a class="my-color-light" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  <script src="js/cookies.js"></script>
</footer>