
        </div>
      </div>            
    </div>
  </div>

  <footer class="fixed-bottom text-light bg-dark">
    <div class="container">
      <div class="copyright text-center fw-bold">
        &copy;2022 - Copyright: Start-Se | Tech Academy
      </div>
    </div>
  </footer>
</body>
</html>
