
<footer class="text-center text-white fixed-bottom">
    <!-- Copyright -->
    <div class="text-center">
      © 2022 Copyright: Start-Se | Tech Academy
    </div>
    <!-- Copyright -->
  </footer>
</html>