    
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand mr-1"  href="/">Ranqueei</a>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="d-flex ">
            <div class="navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/new" class="nav-link">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/logout" class="btn btn-secondary">Logout</a>
                    </li>
                
                </ul>
              
            </div>
          </div>
        </div>
    </nav>

    