<div class="offcanvas offcanvas-start show text-bg-dark" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkLabel">Offcanvas</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Menu</p>
      <ul>
        <li><a href="/teams" >Equipes</a></li>
        <li><a href="/rewards" >Recompensas</a></li>
        <li><a href="/missions" >Missões</a></li>                         
      </ul>
    </div>
</div>