<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/navbar.ejs') %>
   <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Este é um de teste do EJS.</p>
            <hr class="my-4">
            <p>Descrição detalhada...</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        
   </div>
</body>
<%-include('partials/footer.ejs') %>