<%-include('partials/header.ejs') %>

  <body>
    <%-include('partials/navbar.ejs') %>
      <main>
        <div class="container marketing">
          <div class="marketing-align marketing-align-items row featurette featurette-divider">
            <div class="col-md-7">
              <h2 class="featurette-heading lh-1">Conectando Jovens à uma Educação Divertida</h2>
              <p class="lead">O Ranqueei chegou para ajudar jovens e professores a tornar a escola um ambiente mais
                acolhedor, participativo e divertido por meio da tecnologia. Temos como objetivo proporcionar uma
                aprendizagem ativa e que possa ser utilizada em diferentes contextos, independente da metodologia e
                ambiente de ensino (on-line, presencial ou híbrido). Para isso, combinamos gamificação e aprendizagem
                colaborativa.
              </p>
              <p>
                <button type="button" id="#" class="btn btn-lg btn-primary">Saiba mais</button>
              </p>
            </div>
            <div class="col-md-5">
              <img src="images/students.png" alt="" class="img-fluid img-fluid-top">
            </div>
          </div>
        </div>

        <div class="py-5-top my-bg-light">
          <div class="container">
            <h2>A história do Ranqueei</h2>
            <p class="lead">Surgimos em um ambiente de conhecimento e prática educacional. Fizemos parte do programa de
              formação de profissionais de tecnologia denominado Tech Academy, realizado pela empresa StartSe, onde nos
              foi proposto um desafio de criar uma solução tecnológica para o combate à evasão escolar.
            </p>
            <p>Combinamos os conhecimentos adquiridos no ecossistema da Startse com uso das metodologias ativas na
              educação, a fim de criar uma ferramenta educativa capaz tornar o ensino mais atrativo, prático e colaborativo.</p>
            <p>
              Temos como propósito usar a tecnologia como meio de transformação educacional e social, rompendo barreiras
              e aproximando pessoas. Queremos estar presentes em qualquer ambiente de estudo seja ele, presencial, on-line
              ou híbrido de forma complementar a qualquer metodologia de ensino por meio de soluções tecnológicas leves, de
              fácil usabilidade e adaptabilidade.
            </p>
           
          </div>

          <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 border-top">
              <div class="col d-flex align-items-start">
                <div
                  class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                  </svg>
                </div>
                <div>
                  <h3>Missão</h3>
                  <p>Desenvolver um sistema gamificado interligado às metodologias já existentes no ambiente escolar, de
                    modo que o conteúdo trabalhado em sala de aula possa ser praticado de maneira atraente, dinâmica e
                    colaborativa.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div
                  class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                      d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg>
                </div>
                <div>
                  <h3>Visão</h3>
                  <p>Ser reconhecido como um sistema que valoriza e incentiva a participação ativa do estudante na
                    construção do conhecimento.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div
                  class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                </div>
                <div>
                  <h3>Valores</h3>
                  <p>Excelência, Colaboração, Proatividade, Parceria, Ética, Respeito e Transparência.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container marketing py-5">
          <div class="marketing-align marketing-align-items row featurette py-5">
            <div class="col-md-5">
              <img src="images/meet.png" alt="" class="img-fluid img-fluid-bottom">
            </div>
            <div class="col-md-7">
              <h2 class=" lh-1">Conheça os criadores</h2>
              <p class="lead">São agentes transformadores das mais diversas regiões do Brasil nesta missão educacional do Ranqueei.
              </p>
              <p>
                <button type="button" id="#" class="btn btn-primary">Saiba mais</button>
              </p>
            </div>
          </div>
        </div>

        <div class="my-bg-light">
          <section class="py-5 text-center container">
            <div class="row py-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="">Nossos parceiros</h2>
                <p class="lead">O Ranqueei conta com parceiros nacionais e internacionais que fazem do projeto mais forte a cada dia.</p>
                <p>
                  <button type="button" id="#" class="btn btn-primary">Saiba mais</button>
                </p>
              </div>
            </div>
          </section>
        </div>

        <div>
          <section class="py-5 text-center container">
            <div class="row py-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="">Vamos conversar?</h2>
                <p class="lead">Você tem dúvidas, sugestões ou mesmo gostaria de solicitar uma parceria? Se a sua resposta foi sim para algum desses motivos, então fale com a gente.</p>
                <p>
                  <button type="button" id="#" class="btn btn-primary">Saiba mais</button>
                </p>
              </div>
            </div>
          </section>
        </div>
      </main>

      <div class="cookies-container">
        <div class="cookies-content">
          <p>Permito o <strong>uso de cookies</strong> para:</p>
          <div class="cookies-pref">
            <label><input type="checkbox" checked data-function="analytics"> Análise de Uso</label>
            <label><input type="checkbox" checked data-function="marketing"> Marketing</label>
          </div>
          <button class="cookies-save">Salvar e Continuar</button>
        </div>
      </div>
  </body>
  <%-include('partials/footer.ejs') %>