@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Fixing the footer to the base */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F7FAFC;
}

nav.header-bg-color {
    background-color: #F7FAFC;
}

footer {
    flex-shrink: 0;
}

.content-top-position {
    flex: 1 0 auto;
}

.sidebar {
    padding: 88px 0 0 !important;
}

.sidebar-icon-size {
    font-size: 20px;
}

.user-avatar {
    margin-top: 1rem;
    padding: 4px 0 4px 0;
}

.dropdown-menu-user[data-bs-popper] {
    left: -88px;
}

.dropdown-menu-link[data-bs-popper] {
    left: -45px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #00346E;
}

.mb-auto {
    margin-left: 8px;
    margin-right: 8px;
}

/* Cards */
.card-header {
    background-color: #00346E;
}

.card-title,
.panel-title {
    color: #fff;
}

/* Buttons */

.btn-outline-primary {
    --bs-btn-color: #00346E;
    --bs-btn-border-color: #00346E;
    --bs-btn-hover-bg: #00346E;
    --bs-btn-hover-border-color: #00346E;
    --bs-btn-active-bg: #00346E;
    --bs-btn-active-border-color: #00346E;
    --bs-btn-disabled-color: #00346E;
    --bs-btn-disabled-border-color: #00346E;
    font-weight: 600;
}

/* Text */

h1,
h2 {
    margin-bottom: 20px;
}

p,
p.lead {
    font-weight: 400;
    color: #373A3D;
}

.nav-link {
    font-weight: 500;
}

.dropdown-item {
    font-weight: 500;
}

/* Colors */

.my-bg-light {
    background-color: #F2F5F7;
}

.my-color-light {
    color: #D7DBE0;
}

.my-color-light:hover {
    color: #CDCFD1;
}

.my-bg-dark {
    background-color: #292B2E;
}

.btn:hover,
.btn:focus {
    background-color: #00346E;
    border-color: #00346E;
}

.bi-heart-fill {
    color: #FF4040;
    background-color: #F2F5F7;
}

.bi-eye-fill {
    color: #003F86;
    background-color: #F2F5F7;
}

.bi-star-fill-color {
    color: #FFB830;
    background-color: #F2F5F7;
}

.dropdown-item:active {
    background-color: #F2F5F7;
}

.dropdown-item,
.nav-link {
    color: #003F86;
}

.dropdown-item:hover,
.nav-link:hover {
    color: #292B2E;
}

.dropdown-item:focus,
.nav-link:focus {
    color: #436286;
}

.btn-primary {
    background-color: #003F86;
    border-color: #003F86;
}

.border-bottom-dark {
    border-bottom: 2px solid #373A3D;
}

.marketing-align-items {
    align-items: center;
}

.bg-light-sidebar {
    background-color: #F2F5F7 !important;
}

/* Featurettes */

.featurette-divider {
    margin-top: 10rem;
    margin-bottom: 8rem;
}

div.featurette-divider-1 {
    margin: 6rem 0;
}

div.py-5-top {
    padding-top: 6rem;
}

/* Thin out the marketing headings */

.featurette-heading {
    letter-spacing: -.05rem;
}

.lead {
    font-size: 1rem;
    font-weight: 400;
}

/* Navbar */

.navbar {
    padding: 1rem 0 1rem 0;
}

.dropdown-menu {
    min-width: 0;
}

.nav-icon-mr {
    margin-right: 4px;
}

/*
 * Sidebar
 */

.sidebar-mt {
    margin-top: 8.063rem;
}

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* RESPONSIVE CSS */

@media (min-width: 768px) {
    .featurette-heading {
        font-size: 2.5rem;
    }

    ul.nav-pills-txt-align-center {
        justify-content: center;
    }

}

@media (max-width: 768px) {
    img.img-fluid-top {
        margin-top: 3rem;
    }

    .marketing-align {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    img.img-fluid-bottom {
        margin-bottom: 3rem;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row-reverse;
    }

    .bg-light-sidebar {
        background-color: #F7FAFC !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        justify-content: end;
    }
}

@media (min-width: 768px) {

    /* Sidebar */
    .sidebar-mt {
        margin-top: 4.063rem;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row-reverse;
    }

    .user-avatar {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .main-for-sidebar.ms-sm-auto {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (min-width: 576px) {
    .main-for-sidebar.ms-sm-auto {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .main-for-sidebar.ms-sm-auto {
        margin-left: auto !important;
    }
}

/* Forms */

.card-header {
    text-align: center;
}

input[type='number'] {
    width: 100px;
}

.reward {
    margin: 10px;
}

.card-header {
    background-color: #00346E;
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
}

.panel-title {
    font-size: 18px;
}

th,
td {
    text-align: center;
}