<%-include('../partials/header.ejs') %>
<body>
    <%-include('../partials/navbar.ejs') %>
    <p> <%= currentUser.name %> </p>
    <div class="card">
        <div class="card-header">
          <div class="panel-title">Página pós-login</div>
        </div>

        <a href="/classrooms/new" class="btn btn-success">Cadastrar Turma</a>
    </div>
</body>
<%-include('../partials/footer.ejs') %>

