<%-include('../partials/header.ejs') %>
<body>
    <%-include('../partials/navbar.ejs') %>

    <div class="card">
        <div class="card-header">
          <div class="panel-title">Página pós-login</div>
        </div>
    </div>
</body>
<%-include('../partials/footer.ejs') %>

