<%-include('../partials/header.ejs') %>
<body  onload="checkStorage()">
  <%-include('../partials/navbar.ejs') %>
  <main class="content-top-position featurette-divider">
    <div class="container pt-3">
      <br><br>
      <div class="row form">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-primary">
            <h4 class="text-center">Cadastro realizado com sucesso!</h4>
            <h4 class="text-center">Faça login para continuar!</h4>
          </div>

          <div class="card-footer">
            <a href="/users/login" class="btn btn-success d-grid gap-2 d-md-block">Fazer Login</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%-include('../partials/footer.ejs') %>
</body>