<%-include('../partials/header.ejs') %>
<body>
  <%-include('../partials/navbar.ejs') %>
  <%-include('../partials/messages.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
        <div class="col-md-4 offset-md-4 col-sm-10 offset-sm-1">
          <br><br>
          <div class="card">
        
            <div class="alert alert-info">
              <h2 class="panel-title">Cadastro Realizado com sucesso!</h2>
                <h4>Faça login para continuar!</h4>
               
            </div>
            <div class="card-footer">
                <a href="/users/login" class="btn btn-success d-grid gap-2 d-md-block">Fazer Login</a>
            </div>
            
        
          </div>
        </div>
        

      
        
        <br> <br>
      </div>
    </div>            
  </div>


<%-include('../partials/footer.ejs') %>